/*
 Common Element
 Todo: 添加鼠标跟随动画效果 2025/1/2 chencu 
 */
 
%common {
    %-animate {
        transition: transform 0.2s ease-in-out;
        transition-property: transform, all;
    }
}

a {
    &:hover {
        @extend %common-animate !optional;
    }
}

label {
    &:hover {
        @extend %common-animate !optional;
    }
    &:focus-visible {
        outline: 0px
    }
}

select {
    &:focus-visible {
        outline: 0px
    }
}

details {
    &:hover {
        @extend %common-animate !optional;
    }
}

// LinkCard.astro
.sl-link-card {
    &:hover {
        @extend %common-animate !optional;
    }
}

// Search.astro
button[data-open-modal] {
    transition: transform 0.2s ease-in-out;
}