/*
 RoidMC Wiki - CSS
 RoidMC Wiki Common Style CSS File (Modules)
 页面CSS样式 - 首页
 */

.hero-title {
    line-height: 1.25;
    background: linear-gradient(to right, #5D67E8, #ef4444);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
    